<?xml version="1.0" encoding="UTF-8" ?>
<!-- Copyright 2015-2016 the original author or authors. Licensed under the 
	Apache License, Version 2.0 (the "License"); you may not use this file except 
	in compliance with the License. You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0 
	Unless required by applicable law or agreed to in writing, software distributed 
	under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES 
	OR CONDITIONS OF ANY KIND, either express or implied. See the License for 
	the specific language governing permissions and limitations under the License. -->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="WeChatInfoMapper">

	<resultMap id="WeChatInfoMap" type="cn.nanhuaren.visitingcard.dal.domain.WeChatInfo">
		<result column="id" jdbcType="INTEGER" property="id" />
		<result column="openId" jdbcType="VARCHAR" property="openId" />
		<result column="unionId" jdbcType="VARCHAR" property="unionId" />
		<result column="nickName" jdbcType="VARCHAR" property="nickName" />
		<result column="avatarUrl" jdbcType="VARCHAR" property="avatarUrl" />
		<result column="gender" jdbcType="VARCHAR" property="gender" />
		<result column="city" jdbcType="VARCHAR" property="city" />
		<result column="province" jdbcType="VARCHAR" property="province" />
		<result column="country" jdbcType="VARCHAR" property="country" />
		<result column="language" jdbcType="VARCHAR" property="language" />
	</resultMap>

	<select id="selectByOpenId" resultType="WeChatInfo">
		select * from t_wechat_info where openId = #{openId}
	</select>
	
	<select id="lisUnBind" resultMap="WeChatInfoMap">
        select w.* from t_wechat_info w 
        where w.openId not in ( select DISTINCT u.openId from t_user_info u where u.openId is not null and u.openId != '')
        and w.nickName is not null and w.nickName != ''
    </select>

	<insert id="insert" parameterType="cn.nanhuaren.visitingcard.dal.domain.WeChatInfo">
		insert into t_wechat_info
		(
			openId,
			unionId,
			nickName,
			avatarUrl,
			gender,
			city,
			province,
			country,
			language,
			createTime
		)
		values
		(
			#{openId},
			#{unionId},
			#{nickName},
			#{avatarUrl},
			#{gender},
			#{city},
			#{province},
			#{country},
			#{language},
			#{createTime}
		)
	</insert>
	
	<update id="updateById" parameterType="cn.nanhuaren.visitingcard.dal.domain.WeChatInfo">
		update t_wechat_info set
			unionId = #{unionId},
			nickName = #{nickName},
			avatarUrl = #{avatarUrl},
			gender = #{gender},
			city = #{city},
			province = #{province},
			country = #{country},
			language = #{language},
			updateTime = #{updateTime}
		where id = #{id}
	</update>
</mapper>
